<html>
	<head>
		<link rel="stylesheet" href="stylesheet/style.css" type="text/css"/>
	
	</head>
	<body>
		<h1>Guess The Color:</br><span id="colorDisplay">RGB</span></br>Color Game</h1>
		<div id="align">
		<button id="easy">Easy</button>
		<span id="displayMessage"></span>
		<button id="hard" class="selected">Hard</button>
		</div>
		
		<div id="container">
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
		</div>
		
		<button id="reset">New Colors</button>
		<script type="text/javascript" src="javascript/colorGame.js">
			
		</script>
	</body>

</html>